body {
    margin: 0;
    background: #0f172a;
    overflow: hidden;
}

/* ZOOM BASE */
.hangar-wrapper {
    position: relative;
    width: 2000px;
    height: 1000px;

    transform-origin: top left;
}

/* SVG */
.hangar-svg {
    width: 100%;
    height: 100%;
}

/* PLANES */
.airplane-container {
    position: absolute;
    cursor: grab;
    z-index: 10;
}

.airplane-container.dragging {
    cursor: grabbing;
}

.airplane-container.collision {
    filter: drop-shadow(0 0 10px red);
}

.airplane-container.taxiway {
    filter: drop-shadow(0 0 10px gold);
}

.airplane-container.active {
    filter: drop-shadow(0 0 10px #38bdf8);
}

/* PLANE VISUAL */
.plane-visual {
    width: 100%;
    height: 100%;
    transform: rotate(var(--angle, 0deg));
}

.plane-visual svg {
    width: 100%;
    height: 100%;
}
.plane-visual svg {
    stroke: #1e293b;
    stroke-width: 1.5;
}